<div class="container">
  <p>Hello admin,</p>
  <p>View the status of your agents and the evolution of their latest alerts</p>

  <div class="fw-bold fs-4 my-5">Installed agents by their status</div >
  <div class="row d-flex justify-content-between">
    <div class="col-md-2 card">
      <div class="card-body text-center">
        <div [ngStyle]="{'font-size': '15px'}">Total Agents</div>
        <div [ngStyle]="{'color': 'rgb(0, 107, 180)'}">{{ totalAgents }}</div>
      </div>
    </div>

    <div class="col-md-2 card">
      <div class="card-body text-center">
        <div [ngStyle]="{'font-size': '15px'}">Active agents</div>
        <div [ngStyle]="{'color': 'rgb(0, 120, 113)'}">{{ activeAgents }}</div>
      </div>
    </div>
    
    <div class="col-md-2 card">
      <div class="card-body text-center">
        <div [ngStyle]="{'font-size': '15px'}">Disconnected agents</div>
        <div [ngStyle]="{'color': 'rgb(189, 39, 30)'}">{{ disconnectedAgents }}</div>
      </div>
    </div>

    <div class="col-md-2 card">
      <div class="card-body text-center">
        <div [ngStyle]="{'font-size': '15px'}">Pending agents</div>
        <div [ngStyle]="{'color': 'rgb(254, 197, 20)'}">{{ pendingAgents }}</div>
      </div>
    </div>

    <div class="col-md-2 card">
      <div class="card-body text-center">
        <div [ngStyle]="{'font-size': '15px'}">Never connected agents</div>
        <div [ngStyle]="{'color': 'rgb(100, 106, 119)'}">{{ neverConnectedAgents }}</div>
      </div>
    </div>
  </div>
</div>
